:root {
    /*-------------------------------------------Main Colors*/
    --color-red: #ff0000;
    --color-orange: #ff6b57;
    --color-yellow: #ffc107;
    --color-gold: #ddcfbb;
    --color-purple: #ac3773;
    --color-pink: #e94c8f;
    --color-cyan: #32c5d2;
    --color-blue: #1875bb;
    --color-dark-blue: #04314b;
    --color-green: #0d7e00;
    --color-white: #fff;
    --color-gray: #b1b1b1;
    --color-smoky: #737373;
    --color-brown: #915117;
    --color-black: #000;
    --color-dark: #000;
    --color-light-gray: #e6e6e6;
    --color-light-blue: #c9d3ec;
    --color-link-hover: #181b31;
    /*-------------------------------------------Main Background Colors*/
    --color-bg-red: #fff8f9;
    --color-bg-orange: #fff9f8;
    --color-bg-yellow: #fff3de;
    --color-bg-gold: #fffaf4;
    --color-bg-purple: #f7ebf1;
    --color-bg-blue: #ecf7ff;
    --color-bg-dark-blue: #ecf7ff;
    --color-bg-green: #fbfffa;
    --color-bg-pink: #f3e7ed;
    --color-bg-light-pink: #fdeaed;
    --purple-bg-color: #ca3773;
    --color-bg-cyan: #faffff;
    --color-bg-white: #fff;
    --color-bg-gray: #f1f1f1;
    --color-bg-light-gray: #fafafae8;
    --color-bg-smoky: #ededed;
    --color-bg-brown: #ffe5e9;
    --color-bg-black: #e8e8e87a;
    --color-bg-modal-header: #f7f7f7;
    /* -------------------------------------------Module Colors*/
    /* -------------------------misc*/
    --color-task: #ac3773;
    --color-gallery: #000;
    --color-sms: #ff6b57;
    --color-authorize: #0d7e00;
    /*-------------------------portfolio*/
    --color-portfolio: #915117;
    /*-------------------------CRM*/
    --color-client: #32c5d2;
    --color-clients: #45cfd9;
    /*-------------------------blog*/
    --color-blog-news: #ff6b57;
    --color-blog-article: #000;
    --color-blog-video: #32c5d2;
    --color-blog-btn: #eafafb;
    --color-blog-podcast: #ee3552;
    --color-blog-videos: #ee3552;
    /*-------------------------product*/
    --color-product: #32c5d2;
    --color-translation: #1875bb;
    --color-brand: #ac3773;
    --color-pricing-method: #ac3773;
    --color-product-variation: #ffc107;
    --color-product-option: #ddcfbb;
    /*-------------------------service*/
    --color-service: #ee3552;
    /*-------------------------wms*/
    --color-wms-incoming: #32c5d2;
    --color-wms-outgoing: #ee3552;
    --color-wms: #000;
    /*-------------------------store*/
    --color-store-product: #ee3552;
    --color-store-service: #ff6b57;
    --color-store-order: #32c5d2;
    --color-store: #000;
    /*-------------------------Order*/
    --color-order: #32c5d2;
    --color-shipping-fee: #ff6b57;
}
